
.box  {
  margin: 100px auto auto;
  max-width: 330px;
  padding: 5px;
}

.tile {
  text-align: center;
  border: 4px solid black;
  width: 100px;
  height: 100px;
  padding:0px;
  margin:auto;
  display: inline-block;
  position: relative;
}

.tile:nth-child(1) {
  border-left: transparent;
  border-top: transparent;
  margin-bottom: -8px;
}
.tile:nth-child(4){
  border-left: transparent;
  border-top: transparent;
  margin-bottom: -4px;
}
.tile:nth-child(2)  {
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  margin-bottom: -8px;
}
.tile:nth-child(5)  {
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  margin-bottom: -4px;
}
.tile:nth-child(3) {
  border-top: transparent;
  border-right: transparent;
  margin-bottom: -8px;
}
.tile:nth-child(6) {
  border-top: transparent;
  border-right: transparent;
  margin-bottom: -4px;
}
.tile:nth-child(7) {
  border: transparent;
}
.tile:nth-child(8), .tile:nth-child(9) {
  border-top: transparent;
  border-right: transparent;
  border-bottom: transparent;
}
.circle {
  position: relative;
  top: 18px;
  width: 60px;
  height: 60px;
  left: 15px;
  border: 4px solid red;
  border-radius: 50%
}

.cross {
  position: relative;
  width: 100px;
  height: 100px;
}

.cross:before, .cross:after {
 content: "";
 position: absolute;
 z-index: -1;
}

.cross:before {
  border-top: 4px solid blue;
 right: 40px;
 width: 70px;
height: 70px;
top: 40px;
 transform: rotate(45deg);
}

.cross:after {
  border-top: 4px solid blue;
 right: 40px;
 width: 70px;
height: 70px;
top: -9px;
 transform: rotate(135deg);
}
#test.tile:hover:after{
  content: '';
  position: absolute;
  top: 18px;
  width: 60px;
  height: 60px;
  left: 15px;
  border: 4px solid red;
  border-radius: 50%;
  opacity: 0.4;
}

#test1.tile:hover{
  content: '';
  position: relative;
  width: 100px;
  height: 100px;
}


#test1.tile:hover:after {
  content: '';
  border-top: 4px solid blue;
  right: 40px;
  width: 70px;
 height: 70px;
 top: -9px;
  transform: rotate(135deg);
 position: absolute;
 opacity: 0.4;
}

#test1.tile:hover:before {
  content: '';
  border-top: 4px solid blue;
 right: 40px;
 width: 70px;
height: 70px;
top: 40px;
 transform: rotate(45deg);
 position: absolute;
 opacity: 0.4;
}
